<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:paddingLeft="8dp"
    android:paddingRight="8dp"
    android:background="#FFFFFF">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:divider="?android:dividerHorizontal"
        android:layout_height="wrap_content">
        <TextView
            android:text="Featured"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/textView1"
            android:textSize="15dp"
            android:textColor="#EB6E1E" />
        <TextView
            android:text="SEE MORE"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:gravity="right"
            android:id="@+id/textView2"
            android:textSize="10dp"
            android:textColor="#BBBBBB"
            android:longClickable="true"
            android:layout_marginLeft="50dp"
            android:clickable="true" />
    </LinearLayout>
    <View
        android:background="#E0DFE7"
        android:layout_width="fill_parent"
        android:layout_height="1dp" />
    <GridView
        android:id="@+id/grid"
        android:paddingTop="2dp"
        android:paddingBottom="-1dp"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:numColumns="@integer/item_columns"
        android:longClickable="true"
        android:stretchMode="columnWidth"
        android:drawSelectorOnTop="true"
        android:clipChildren="false"
        android:clipToPadding="false"
        android:horizontalSpacing="8dp"
        android:verticalSpacing="6dp"
        android:gravity="center" />
</LinearLayout>